/* === General === */
.main {
  background-color: white;
  margin-top: 4rem;
  width: 100%;
}


/* === Jumbotron === */
.jumbotron {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/60/ef/ee/60efee483eb1f618f8b445d0f409ad7c.png");
  background-size: cover;
  height: 30rem;
  width: 80rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.jumbotron h1 {
  font-size: 3rem;
  color: white;
  font-family: "texgyreadventorregular";
}

.button {
  background-color: #680e39;
  color: white;
  padding: 1rem 1rem;
  margin-top: 1.5rem;
}

.button a {
  text-decoration: none;
  color: white;
  font-family: "texgyreadventorregular";
}

/* === Info === */
.information {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 2rem 0;
}

.box {
  text-align: center;
  width: 75%;
  display: flex;
}

h3 {
  color: #680e39;
  font-size: 1.75rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #680e39;
  width: 75%;
  text-align: center;
}

.box p {
  margin-top: 1rem;
}

.box p {
  font-weight: 300;
  font-size: 1.25rem;
}
