/* === Jumbotron === */
.jumbotron {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/60/ef/ee/60efee483eb1f618f8b445d0f409ad7c.png");
  background-size: cover;
  height: 30rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.jumbotron h1 {
  font-size: 3rem;
  color: white;
  font-family: "texgyreadventorregular";
  text-align: center;
}

.button {
  background-color: #680e39;
  color: white;
  padding: 1rem 1rem;
  margin-top: 1.5rem;
}

.button a {
  text-decoration: none;
  color: white;
  font-family: "texgyreadventorregular";
}

/* === Info === */
.information {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 2rem 0;
}

.box {
  text-align: center;
  width: 75%;
  display: flex;
  align-items: center;
  margin: 0.75rem;
  padding: 0.75rem;
  background-color: #eaebec;
}

.boximage {
  width: 11rem;
  height: 11rem;
}

.boxcontent {
  width: 75%;
  margin-left: 1.5rem;
}

#image1 {
  background-image: url("https://ct1.medstarhealth.org/content/uploads/sites/7/2014/12/BabySm.jpg");
  background-size: cover;
}

#image2 {
  background-image: url("http://www.rrhospital.org/xthumb.php?f=fa6dd703ebb32bdf121a472366e95346Paediatric%20and%20Neonatal%20Care.jpg&s=350");
  background-size: cover;
}

#image3 {
  background-image: url("http://www.brighamandwomens.org/Departments_and_Services/obgyn/images/obgyn04.jpg");
  background-size: cover;
}

h3 {
  color: #680e39;
  font-size: 1.75rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #680e39;
  width: 75%;
  text-align: center;
}

.box p {
  font-weight: 300;
  font-size: 1.25rem;
}

/* === Media Queries === */
@media only screen and (max-width: 775px) {
  .boximage {
    display: none;
  }

  .boxcontent {
    width: 100%;
  }
}
